mixin cards(imagen,lenguaje,framework,orador,descripcion)
    div(class="col-12 col-md-6 col-lg-4 mb-4")
        div(class="card")
            img(class="card__img--top" src="assets/speakers/"+imagen alt="Foto de speaker")
            div(class="card__body")
                div(class="badges text-md-right mb-2")
                        if lenguaje == 'Javascript'
                            span(class="badge badge--warning mr-2")=lenguaje
                        else if lenguaje == 'CEO'
                            span(class="badge badge--success mr-2")=lenguaje
                        else
                            span(class="badge badge--dark mr-2")=lenguaje

                        if framework == 'Angular'
                            span(class="badge badge--danger mr-2")=framework
                        else if framework == 'React'
                            span(class="badge badge--info mr-2")=framework
                        else
                            span(class="badge badge-success mr-2")=framework
                h5(class="card__title")=orador
                p(class="card__text")=descripcion
                //- a(href="#" class="btn btn-primary") Leer más...
                

    